# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log
